@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main>
    <div class="container mb-2">
        <div class="row mt-5">
            <div class="col-12 col-md-4">
                <p>Contactez-nous</p>
                <p>5444 Rue Jean-Talon E, Saint-Léonard, QC H1S 1L6</p>
                <p>Téléphone: 514-555-5555</p>
                <p>Courriel: Roberto.developpeur@gmail.com</p>
            </div>
            <div class="col-12 col-md-8">
                <div class="ratio ratio-16x9">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47330.39430194693!2d-73.59749144549671!3d45.58809757050713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91e93f66a1e4d%3A0xa375c9f4de59b8d6!2sRestaurant%20Dragon%20Magnifique!5e0!3m2!1sfr!2sca!4v1679466004567!5m2!1sfr!2sca" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</main>

