@{
    ViewData["Title"] = "Home Page";
}




<main>
    <h1>Let's meat</h1>
    <p>
        We love sharing good food with great people. We bring over 30 years industry experience and passion to <a href="#"> Alex.</a> With a dishes that are carefully designed to bring you a truly satisfying Irish
        food experience that you are sure to remember.
    </p>
    <a href="mailto:roberto.developpeur@gmail.com?Subject=Reservation" target="_blank">Make Reservation</a>

</main>


