@{
    ViewData["Title"] = "Home Page";
}

    <header>
        <img class="logo" src="images/logo-transparent-png.png" alt="Logo for alex Restaurant">
    </header>

    <nav>
        <a href="#">Home</a>
        <a href="#">Menu</a>
        <a href="#">Order Online</a>
        <a href="#">Gift Voucher</a>
        <a href="#">Catering</a>
        <a href="#">Contact</a>
    </nav>


    <main>
        <h1>Let's meat</h1>
        <p>
            We love sharing good food with great people. We bring over 30 years industry experience and passion to <a href="#"> Alex.</a> With a dishes that are carefully designed to bring you a truly satisfying Irish
            food experience that you are sure to remember.
        </p>
        <a href="mailto:roberto.au.vera@gmail.com?Subject=Reservation" target="_blank">Make Reservation</a>

    </main>
    

    <footer>
    <p>5444 Rue Jean-Talon E, Saint-Léonard, QC H1S 1L6 - Copyright 2023©</p>
    </footer>
