<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon-32x32.png">
    <title>@ViewData["Title"] - Alex_Restaurant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body class="d-flex flex-column">


    <div class="container">
        <header>
            <img class="logo" src="/images/logo-transparent-png.png" alt="Logo for alex Restaurant">
        </header>

        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Meals" asp-action="Menu">Menu</a>
            <a asp-controller="Home" asp-action="Contact">Contact</a>
        </nav>

        @RenderBody()







    </div>
    <footer class="position-relative bottom-0 end-0 flex-shrink-0 mt-auto">
        <p>5444 Rue Jean-Talon E, Saint-Léonard, QC H1S 1L6 - Copyright 2023©</p>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
