<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Alex_Restaurant</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Alex_Restaurant.styles.css" asp-append-version="true" />
</head>
<body>
   
   
    <div class="container2">
        <header>
            <img class="logo" src="/images/logo-transparent-png.png" alt="Logo for alex Restaurant">
        </header>

        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Meals" asp-action="Menu">Menu</a>
            <a asp-controller="Home" asp-action="Contact">Contact</a>
        </nav>

            @RenderBody()

        <footer>
            <p>5444 Rue Jean-Talon E, Saint-Léonard, QC H1S 1L6 - Copyright 2023©</p>
        </footer>

    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
